.sticky-top {
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-signin input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 28px 0px #33333347;
  line-height: 2.5;
}
.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}
.img-responsive {
  width: 100%;
  height: auto;
  margin: auto;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer p,
footer strong,
footer b,
footer {
  color: #b0b0b0;
}

.footer-top {
  background: #303030;
  background-size: cover;
  background-position: center;
  padding: 0 0 20px;
  font-family: rubik;
  padding-top: 30px;
}

.footer-top,
.footer-bottom {
  background-color: #1c1f2f;
}

.footer-bottom {
  padding: 15px 0;
  border-top: 1px solid #313646;
  background-color: #181828 !important;
  color: #b0b0b0;
  font-family: rubik;
}

.footer-site-info {
  font-size: 92.86%;
}
#footer-navigation,
#footer-navigation li a:hover,
.custom-footer,
.custom-footer li a:hover {
  color: white;
  text-decoration: none;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

.footer-bottom ul {
  margin: 0;
}
.inline-inside {
  font-size: 0;
  line-height: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
#footer-menu li {
  display: inline-block;
  padding: 5px;
  position: relative;
  line-height: 1.5;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}
#footer-menu li + li:before {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  top: -5px;
  border-bottom: 1px solid #ffffff45;
}

navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
  padding-top: 15px;
}

#footer-socials {
  text-align: right;
}

#footer-socials .socials {
  text-align: right;
  margin: 0 -7px;
  display: inline-block;
  vertical-align: middle;
}

a.socials-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 5px;
  line-height: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #141421;
  border: 1px solid #2e2e4c;
}

.socials-item i {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.facebook {
  color: #4e64b5;
}

.twitter {
  color: #00aced;
}
.instagram {
  color: #9a8f62;
}
.youtube {
  color: #c82929;
}

.telegram {
  color: #2ca5e0;
}

a.socials-item:hover {
  box-shadow: 0 0px 20px rgb(28, 31, 47);
  box-shadow: 0 0px 20px rgb(28, 31, 47);
}

.footer-bottom a:hover {
  color: white;
}

.widget {
  margin-bottom: 50px;
}
.footer_widget ul {padding-left: 0;margin-bottom: 0;}
.footer-navigation ul {padding-left: 0;margin-bottom: 0;}

.footer-title {
  margin-bottom: 40px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  font-family: sans-serif;
  padding-bottom: 15px;
  font-size: 16px;
  position: relative;
}

.footer-title:after {
  width: 50px;
  background: #fff;
  opacity: 0.2;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.gem-contacts-item {
  padding-top: 10px;
  font-size: 15px;
}

.gem-contacts-item i {
  padding-right: 10px;
}

footer .widget ul {
  list-style: none;
  margin-top: 5px;
}

.posts li {
  border-bottom: 1px solid #393d50;
  padding-bottom: 12px;
  padding-top: 6px;
}

.gem-pp-posts-date {
  color: #00bcd4;
  font-size: 89.5%;
}

footer p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 15px;
}
footer a {font-family: sans-serif;}

.wpcf7-form-control-wrap .wpcf7-form-control {
  padding: 7px !important;
  width: 100%;
}

.wpcf7-form-control-wrap input {
  background: #1c1f2f;
  overflow: hidden;
  border: 1px solid #2e344d;
  background-color: #1c1f2f;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form-control-wrap input:hover {
  background-color: transparent;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03),
    inset 14px 14px 70px rgb(0, 0, 0, 0.2),
    inset -15px -15px 30px rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.wpcf7 .wpcf7-form .contact-form-footer textarea {
  height: 160px;
  width: 100%;
}

.wpcf7-form-control-wrap textarea:hover {
  background-color: transparent;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03),
    inset 14px 14px 70px rgb(0, 0, 0, 0.2),
    inset -15px -15px 30px rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.wpcf7-form-control-wrap textarea {
  background: #1c1f2f;
  overflow: hidden;
  border: 1px solid #2e344d;
  background-color: #1c1f2f;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit {
  width: 100%;
  padding: 11px;
  margin: 0;
  line-height: 0;
}
.wpcf7-form .contact-form-footer .wpcf7-submit {
  background-color: #394050;
  color: #99a9b5;
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  text-transform: uppercase;
  outline: none !important;
  background-color: #1c1f2f;
  border-radius: 5px;
  min-width: 140px;
  /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
  box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgb(0, 0, 0, 0.3),
    inset -3px -3px 15px rgba(255, 255, 255, 0.05);
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #2e344d;
  transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form input[type="submit"] {
  height: 40px;
  line-height: 21px;
  padding: 10px 40px;
  font-size: 14px;
}

.posts li a {
  color: #99a9b5;
}

.wpcf7-form .contact-form-footer .wpcf7-submit:hover {
  color: white;
}
footer .nav-menu li {
  width: 100%;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.widget_gallery a {
  display: inline-block;
}
footer .widget ul {
  list-style: none;
  margin-top: 5px;
}
.widget_gallery ul {
  padding-left: 0;
  display: table;
}

.widget_gallery li {
  display: inline-block;
  width: 33.33%;
  float: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 2px;
}

.widget_gallery.gallery-grid-4 li {
  width: 30%;
}

#waterdrop {
  height: 30px;
}

#waterdrop canvas {
  bottom: -70px !important;
}

.footer-site-info {
  font-family: sans-serif;
  padding-top: 10px;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* admin dashboard */

.fr-box.fr-basic .fr-element {
  min-height: 350px !important;
}

/*My Store*/
.about-us {background-color: #f4f4f4;padding: 50px 0;}
.about-us .card {text-align: center;transition: all 0.4s ease-in;position: relative;overflow: hidden;z-index: 1;border-radius: 8px;}
.about-us .card {border: none !important;}
.about-us .card::before {content: '';position: absolute;top: -115px;right: -110px;-webkit-border-radius: 50%;border-radius: 50%;height: 200px;width: 200px;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);background: #144e85;z-index: -1;transition: all 0.5s ease-in-out;}
.about-us .card:hover::before {top: 0;right: 0;width: 100%;height: 100%;-webkit-border-radius: 0;border-radius: 0;-webkit-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);transform: rotate(0);}
.about-us .card:hover .card-title a {color: #ffffff;}
.about-us .card:hover .card-text {color: #ffffff;}

#wow{
  margin: auto;
  margin-top: 25px;
}

#wowOne{
  margin: auto;
  margin-top: 25px;
}

#wowTwo{
  margin: auto;
  margin-top: 25px;
  width: 200px;
  border-radius: 200px;
}

#wowThree{
  margin: auto;
  margin-top: 25px;
}

#sliderCont{
  margin: auto;
}

#regContainer {padding: 20px 35px;background-color: #f4f4f4;border: 2px solid transparent;border-radius: 10px;transition: all 0.4s ease-in;}
#regContainer:hover {border-color: #3279eb;}
#regContainer .form-control {border-radius: 25px;}

.regContainer {padding: 20px 35px;background-color: #f4f4f4;border: 2px solid transparent;border-radius: 10px;transition: all 0.4s ease-in;}
.regContainer:hover {border-color: #3279eb;}
.regContainer .form-control {border-radius: 25px;}

.sec-padd {padding: 50px 0;}
.sec-padd-100 {padding: 100px 0;}

.headingstyle1 {position: relative;margin-bottom: 3rem;}
.headingstyle1 h2 {margin: 0;font-size: 36px;font-weight: 700;}
.headingstyle1 p {font-size: 16px;margin: 0;}

.main-footer {position: relative;}
.mr-auto img {margin: auto;}
.home-shop .container-fluid, .home-shop .title {display: none !important;}
.product-img img {width: 250px;height: 200px;max-width: 100%;}
.btn-cart {width: 120px;text-transform: capitalize;}

.card {overflow: hidden;}
.card .card-header {transition: all 0.4s ease-in;text-transform: uppercase;color: #000000;font-weight: 600;}
.product-description {text-transform: capitalize;}
.product-price {font-size: 24px;font-weight: 700;}
.product-category {text-transform: capitalize;}
.product-stock span {display: inline-block;margin: 0 0 0.5rem 0;padding: 10px 25px;}
.card:hover {border: 1px solid #000000;}
.card:hover .card-header {background: #000000;color: #ffffff;}
.card-body {padding: 0;margin: 0 0 20px 0;}

.auth-heading {text-align: center;line-height: normal;margin: 0 0 1rem 0;font-size: 32px;font-weight: 700;}
.auth_bg {background: url(/auth_bg.jpg) center/cover;}

.kep-login-facebook {width: 100%; border-radius: 10px !important;font-size: 16px !important;}
.fs-14 {font-size: 14px;}

.banner-inner {background: url(/banner-inner.jpg);background-size: cover;background-position: center;min-height: 350px;display: flex;align-items: center;}
.banner-inner h2 {margin: 0;font-size: 48px;font-weight: 700;position: relative;color: #ffffff;display: inline-block;padding: 0 0 10px 0;}
.banner-inner h2::before {content: '';position: absolute;left: 0;bottom: 0;height: 3px;width: 100%;background: #ffffff;}

.status-delivered {background: #fcf8e3;font-size: 22px;padding: 5px 10px;line-height: normal;}